<div class="outterwrapper">

  <div class="innerwrapper">
    <% @listings.each do |listing| %>
    <div class="innerwrapperone">
      <div class="thumbnail">
        <div class="description">
          <h3><%= listing.description%></h3>
        </div>
        <div class="attachedpicture">

          <div id="wrapcompanyimage">
            <a href="/">
            <img alt="" src="#companyimage">
            </a>
          </div>

          <!-- <div class="hide"><%= link_to image_tag(listing.image.url), listing%>
        </div> -->

      </div>
      <div class="details">
        <h3><%= listing.name %></h3>
        <p><%= listing.duration%><br><%= listing.location%></p>
        <% if (user_signed_in?) && (current_user == listing.user) %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>

<br>
